.myPageBody {
   background: 0 0;
   background-image: initial;
   background-position-x: 0px;
   background-position-y: 0px;
   background-size: initial;
   background-attachment: initial;
   background-origin: initial;
   background-clip: initial;
   background-color: initial;

}